/* You can add global styles to this file, and also import other style files */

body {
  background: url('http://www.desktop-background.com/download/o/2013/06/15/592513_download-plain-white-backgrounds-8193-2560x1600-px-high-resolution_2560x1600_h.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
}
